<div
    class="footer-area text-center bg-white border-top-radius box-shadow"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.component-dark-theme]="themeService.isDark()"
    [class.card-border-radius]="themeService.isCardBorderRadius()"
>
<p style="display: flex; align-items: center; justify-content: center;">
    ©kickConnect created by  
    <a href="https://www.linkedin.com/in/jeffvaccaro/" style="display: flex; align-items: center; margin-left: 5px;">
      <img src="assets/img/JVTransparentLogo_250.png" style="width: 100px; height: 100px; margin-left: 5px;" />
    </a>
  </p>
  
</div>